html {
    background-image: linear-gradient(#c0c0c0, black);
    font-family: 'XoloniumRegular';
    text-align: center;
    background-repeat: no-repeat;
    text-shadow: 0px 5px 10px rgba(122, 7, 7, 0.5), 0px -5px 10px rgba(122, 7, 7, 0.5);
    animation-name: shadow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 25%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.error {
    position: fixed;
    bottom: 60%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    font-size: 11rem;
}

.found {
    position: fixed;
    bottom: 50%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    font-size: 1.6rem;
}

img {

    width: 150px;
    animation-name: filter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

img:hover {
    -webkit-filter: drop-shadow(0px 15px 10px #acacac) drop-shadow(0px -15px 10px #acacac);
    filter: drop-shadow(0px 15px 10px #acacac) drop-shadow(0px -15px 10px #acacac);
    animation-name: filter;
    animation-duration: 0s;

}

@keyframes filter {
    50% {
        -webkit-filter: drop-shadow(0px 5px 10px #7a070780) drop-shadow(0px -5px 10px #7a070780);
        filter: drop-shadow(0px 5px 10px #7a070780) drop-shadow(0px -5px 10px #7a070780);
    }

    100% {
        -webkit-filter: drop-shadow(0px 5px 0px #7a070780) drop-shadow(0px -5px 0px #7a070780);
        filter: drop-shadow(0px 5px 0px #7a070780) drop-shadow(0px -5px 0px #7a070780);
    }
}

@keyframes shadow {
    50% {
        text-shadow: 0px 5px 10px rgba(122, 7, 7, 0.5), 0px -5px 10px rgba(122, 7, 7, 0.5);
    }

    100% {
        text-shadow: 0px 5px 0px rgba(122, 7, 7, 0.5), 0px -5px 0px rgba(122, 7, 7, 0.5);
    }
}